@CHARSET "ISO-8859-1";
.drawer{
	width: 4em;
}
:root {
	--theme-color: #BE040F;
	--text-color: #BE040F;
  --text-input-color:black;
  --disabled-text-input-color:grey;
  --bg-color:#EDF0FA;
  --riple-color:rgba(0,0,0,.12);
  --main-padding: 15px;
  --border-radius: 4px;
  --popover-width: auto;
  --box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  --popover-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
/*select{
  background: rgba(0,0,0,0);
  display: block;
  color: var(--text-input-color);
  border: none;
  padding-left: 0;
  border-bottom: 1px solid var(--riple-color);
}
select:focus {
    outline: none;
}
select:disabled {
  padding-left: 0;
    color: var(--text-input-color);
}
select[disabled] > option {
    color: var(--text-input-color);
    }*/
    .switch label input[type=checkbox]:checked+.lever {
      background-color: rgba(0,0,0,.38);
    }
    .switch label input[type=checkbox]:checked+.lever:after {
      background-color: var(--theme-color);
    }
    input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
      height: 2.5rem;
    }
    .select-wrapper input.select-dropdown:focus {
      border-bottom: 1px solid var(--theme-color);
    }
    .btn-flat:focus, .btn-flat:hover {
      background: var(--riple-color);
    }
    [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
      border: 2px solid var(--theme-color);
    }
    [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
      background-color: var(--theme-color);
    }
    .dropdown-content li:hover, .dropdown-content li.active {
      background-color: var(--riple-color);
    }
    input.datepicker{
      cursor: pointer;
    }
    .card .card-title {
      font-weight: 400;
    }
    .no-margin{
      margin: 0;
    }
    .min-margin{
      margin: .15em 0em;
    }
    .no-margin input{
      width: auto !important;
    }
    i.left {
      margin-right: 0px;
    }
    .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0,.14), 0 3px 1px -2px rgba(0, 0, 0 ,.12), 0 1px 5px 0 rgba(0, 0, 0 ,.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0,.14), 0 2px 1px -2px rgba(0, 0, 0 ,.12), 0 1px 5px 0 rgba(0, 0, 0 ,.2);
    }
    .select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
      color: var(--disabled-text-input-color);
      font-weight: bold;
      font-size: 18px;
    }
    .select-wrapper input.select-dropdown:disabled {
      color: var(--disabled-text-input-color);
    }
    tr {
      border-bottom: 1px solid var(--riple-color);
    }
    input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
      border-bottom: 1px solid #ddd;
    }
    .select-wrapper input.select-dropdown {
     border-bottom: 1px solid #ddd;
   }
   input:not([type]):disabled, input:not([type])[readonly=""], input[type=text]:not(.browser-default):disabled, input[type=text]:not(.browser-default)[readonly=""], input[type=password]:not(.browser-default):disabled, input[type=password]:not(.browser-default)[readonly=""], input[type=email]:not(.browser-default):disabled, input[type=email]:not(.browser-default)[readonly=""], input[type=url]:not(.browser-default):disabled, input[type=url]:not(.browser-default)[readonly=""], input[type=time]:not(.browser-default):disabled, input[type=time]:not(.browser-default)[readonly=""], input[type=date]:not(.browser-default):disabled, input[type=date]:not(.browser-default)[readonly=""], input[type=datetime]:not(.browser-default):disabled, input[type=datetime]:not(.browser-default)[readonly=""], input[type=datetime-local]:not(.browser-default):disabled, input[type=datetime-local]:not(.browser-default)[readonly=""], input[type=tel]:not(.browser-default):disabled, input[type=tel]:not(.browser-default)[readonly=""], input[type=number]:not(.browser-default):disabled, input[type=number]:not(.browser-default)[readonly=""], input[type=search]:not(.browser-default):disabled, input[type=search]:not(.browser-default)[readonly=""], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly=""] {
    color: var(--disabled-text-input-color);
    border-bottom: 1px solid #50505050;
  }
  .select-wrapper .caret, .select-wrapper.disabled .caret {
    fill: var(--disabled-text-input-color);
  }
  svg {
    fill: var(--text-input-color);
  }
  .btn-flat:focus {
    background-color: var(--riple-color);
  }
  .tiny-btn {
    border-radius: 16px;
    height: 20px;
    line-height: 20px;
  }
  b{
    color: var(--text-input-color);
  }
  .input-field .prefix {
    color: var(--text-input-color);
  }
  .card {
    background-color: var(--bg-color);
  }
  body{
   background-color: var(--bg-color);
 }
 .dropdown-content {
  background-color: var(--bg-color);
}
.datepicker-calendar-container{
  background-color: var(--bg-color);
}
.theme{
 background: var(--theme-color) !important;
}
.progress .indeterminate {
 background-color: var(--theme-color) !important;
}
.text-color{
 color: var(--theme-color) !important;
}
.input-field .prefix.active {
 color: var(--theme-color);
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  color: var(--text-input-color);
}
td, th {
  color: var(--text-input-color);
}
.card .card-title {
  color: var(--text-input-color);
}
.input-field label {
	color: var(--text-input-color) !important;
}
.input-field label.active {
  color: var(--theme-color) !important;
}
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=tel]:focus + label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: var(--theme-color);
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
  background-color: var(--theme-color);
}
.datepicker-date-display {
  background-color: var(--theme-color);
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: var(--text-color);
}
.datepicker-table td.is-selected {
  background-color: var(--theme-color);
}
.card .card-title {
  padding-left: 0em;
}
/*.input-field input[type=text]:focus, .input-field input[type=password]:focus, .input-field input[type=tel]:focus {
	border-bottom: 1px solid var(--theme-color);
	box-shadow: 0 1px 0 0 var(--theme-color);
  }*/

/*input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid var(--theme-color);
	box-shadow: 0 1px 0 0 var(--theme-color);
  }*/
  input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid var(--theme-color);
    -webkit-box-shadow: 0 1px 0 0 var(--theme-color);
    box-shadow: 0 1px 0 0 var(--theme-color);
  }
  .card-title{
   font-size: 24px;
   font-weight: 300;
 }

 .popover{
  margin: 0;
  background: var(--bg-color);
  width: var(--popover-width);
  position: absolute;
  opacity:0;
  transition-duration: .3s;
  transform: scale(.85,.6);
  transition-property: opacity,transform;
  z-index: 999;
  display: none;
  border-radius: var(--border-radius);
  box-shadow: var(--popover-box-shadow);
  max-height: 90vh;
  overflow: auto;
}
.popover.modal-in {
  opacity: 1;
  transform: scale(1,1);
}
.popover.on-left-bottom {
  transform-origin: right top;
}
.popover.on-right-bottom {
  transform-origin: left top;
}
.popover.on-right-top {
  transform-origin: left bottom;
}
.popover.on-left-top {
  transform-origin: right bottom;
}
.popover li>a, .popover li>span {
  font-size: 16px;
  color: var(--text-input-color);
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}
.dropdown-content li>a, .dropdown-content li>span {
  color: var(--text-input-color);
}
.popover.modal-out {
  opacity: 0;
  transform: scale(.85,.6);
}
.btn, .btn-large {
  background-color: var(--theme-color);
}
.btn:hover, .btn-large:hover {
  background-color: var(--theme-color);
}
.tabs .tab a:hover {
  color: var(--theme-color);
}
.tabs .tab a {
  color: var(--theme-color);
  font-weight: 600;
}
.tabs .indicator {
  height: 3px;
  background-color: var(--theme-color);
}
*{
 /*-webkit-touch-callout: none; /* iOS Safari */
 /*-webkit-user-select: none; /* Safari */
 /*-khtml-user-select: none; /* Konqueror HTML */
 /*-moz-user-select: none; /* Old versions of Firefox */
 /*-ms-user-select: none; /* Internet Explorer/Edge */
 /*user-select: none;*/ /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
@font-face {
 font-family: 'Material Icons';
 font-style: normal;
 font-weight: 400;
 src: local('Material Icons'), local('MaterialIcons-Regular'),
 url(../obj/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2)
 format('woff2');
}

.material-icons {
 font-family: 'Material Icons';
 font-weight: normal;
 font-style: normal;
 font-size: 24px;
 line-height: 1;
 letter-spacing: normal;
 text-transform: none;
 display: inline-block;
 white-space: nowrap;
 word-wrap: normal;
 direction: ltr;
 -webkit-font-feature-settings: 'liga';
 -webkit-font-smoothing: antialiased;
}
.input-field label {
 left: 0 !important;
 font-size: 18px;
}
.input-field{
 padding: 0 !important;
 padding-right: 0.75rem !important;
}
.sidenav li {
 width: 100% !important;
}
.float.mini{
 width: 40px;
 height: 40px;
}
.btn-floating.btn-large.mini i {
 line-height: 40px;
}
.btn-floating.btn-large.transparent {
 background-color: rgba(0,0,0,0) !important;
 box-shadow: none;
}
.table-button{
 margin-bottom: -2em;
 margin-top: -2em;
}
.fixed{
 position: fixed;
}
.absolute{
 position: absolute;
}

        /*input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
        	border-bottom: 1px solid #50505050;
        	}*/
        	.side-nav li {
        		width: 100%;
        	}

        	nav .brand-logo {
        		font-size: 1.5rem;
        	}

        	.table-input {
        		height: 1.5rem !important;
        		width: 100% !important;
        		font-size: 1rem !important;
        		margin: 0 0 0px 0 !important;
        	}
        	.table-no-padding td, th {
        		padding: 5px 5px;
        	}
        	.modal {
        		max-height: 80%;
        	}
        	.fill-image {
        		overflow: hidden;
        		background-size: cover;
        		background-position: center;
        	}
        	.col.no-padding, .row.no-padding{
        		padding: 0px;
        	}
        	textarea.materialize-textarea {
        		min-height: 1rem;
        		padding: .8rem 0 0.6rem 0;
        	}
        	.hand{
        		cursor: pointer !important;
        	}
        	.chip.valued{
        		background: var(--theme-color) !important;
        		color: white;
        	}
        	.side-nav a {
        		font-weight: 600 !important;
        	}
/*.row{
  height: 100vh;
  overflow: hidden;
  }*/
  /*.modal .modal-footer {
  	position: absolute;
  	bottom: 0em;
  }
  .modal .modal-content {
  	padding: 12px;
  	}*/
  	.bold{
  		font-weight: bold;
  	}
  	.acordeon.acordeon_opened{
  		border-top: 0px solid #e0e0e0;
  		border-bottom: 0px solid #e0e0e0;
  		margin-top: -0px;
  	}


  	.acordeon.acordeon_opened + .acordeon.acordeon_opened{
  		border-top: none;
  		margin-top: 0;
  	}

  	.acordeon .acordeon__content-wrapper{
  		overflow: hidden;
  	}
  	.acordeon .acordeon__content{
  		transition-property: margin-top;
  		transition-duration: .3s;
  	}

  	.acordeon .acordeon__icon{
  		transition-property: transform;
  		transition-duration: 0.3s;
  		position: absolute;
  		right: 6px;
  	}
  	.acordeon .acordeon__left__icon{
  		transition-property: transform;
  		transition-duration: 0.3s;
  		position: absolute;
  		left: 6px;
  	}

  	.acordeon.acordeon_opened .acordeon__icon{
  		transform: rotate(-180deg);
  	}

  	.acordeon.acordeon_opened .acordeon__button{
  	}

  	.acordeon.acordeon_opened .acordeon__content{
  		margin-top: 0 !important;
  	}

  	.drawer_link {
  		display: -webkit-flex !important;
  		display: -ms-flexbox !important;
  		display: flex !important;
  		-webkit-flex-direction: row;
  		-ms-flex-direction: row;
  		flex-direction: row;
  		-webkit-align-items: center;
  		-ms-flex-align: center;
  		align-items: center;
  		font-weight: 500;
  		text-decoration: none;
  		margin: 0;
  		font-size: 14px;
  		font-weight: 400;
  		line-height: 24px;
  		letter-spacing: 0;
  		opacity: .87;
  		height: 48px;
  		font-weight: 700;
  		font-size: .9em;
  		padding-left: .75em;
  	}
  	.title{
  		font-size: 1.5rem;
  	}
  	.btn, .btn-flat {
  		padding: 0 .5rem;
  	}

  	/*root*/
    .calendar {
      overflow: hidden;
      width: 100%;
      display: contents;
      flex-direction: column;
    }
    .calendar-modal {
      max-height: 80vh;
      position: absolute;
      height: auto;
      overflow: hidden;
      top: 50%;
      left: 50%;
      min-width: 300px;
      transform: translate3d(-50%,100%,0);
      transition-property: transform;
      display: block;
      z-index: 9999;
      background: #fff;
      width: 90%;
      border-radius: 4px;
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),0px 24px 38px 3px rgba(0, 0, 0, 0.14),0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    }
    .popup {
      position: absolute;
      left: 0;
      top: 0px;
      width: 100%;
      height: calc(100% - 3.75rem);
      display: block;
      box-sizing: border-box;
      transition-property: transform;
      transform: translate3d(0,100vh,0);
      background: #fff;
      overflow: hidden;
    }
    .popup.modal-in{
     transform: translate3d(0,0,0);
   }
   .popup.modal-out{
     transform: translate3d(0,100vh,0);
   }
   .calendar-modal, .popup.modal-in, .popup.modal-out {
     z-index: 9999;
   }
   .calendar-modal.modal-in, .calendar-modal.modal-out, .popup.modal-in, .popup.modal-out {
     transition-duration: .5s;
   }
   .calendar-modal {
     transform: translate3d(-50%,50vh,0);
   }
   .calendar.modal-in {
     display: flex;
   }
   .calendar-modal.modal-in {
     transform: translate3d(-50%,-50%,0);
   }
   .calendar-modal.modal-out {
     transform: translate3d(-50%,50vh,0);
   }

   /*header*/
   .mod-header {
     width: 100%;
     position: relative;
     overflow: hidden;
     flex-shrink: 0;
     white-space: nowrap;
     text-overflow: ellipsis;
     box-sizing: border-box;
     padding: 0 24px;
     background-color: var(--theme-color);
     color: white;
     height: 56px;
     line-height: 56px;
     font-size: 20px;
     font-weight: 400;
   }
   /*container*/
   .block {
     box-sizing: border-box;
     position: relative;
     z-index: 1;
     color: inherit;
     padding-top: 0;
     padding-bottom: 0;
     font-size: inherit;
   }
   .mod-content {
     padding: .75em;
     overflow: auto;
     display: block;
     margin: 0em;
     width: 100%;
     height: 100%;
     position: relative;
     flex-shrink: 10;
   }
   /*footer*/
   .mod-footer {
     width: 100%;
     flex-shrink: 0;
     padding: 0 8px;
     background-color: transparent;
     color: inherit;
     height: 48px;
     font-size: 15px;
     display: flex;
     justify-content: flex-end;
     box-sizing: border-box;
     align-items: center;
     position: relative;
   }
   .calendar-modal, .popup {
    background: var(--bg-color);
  }

  td, th {
    padding: 5px 5px;
  }
  label{
    text-align: left;
  }

  nav .nav-wrapper {
    width: 100%;
  }
  label.label-select{
    font-size: 14px;
    transform: translate(0px, 12px) !important;
  }

  /*small*/
  @media only screen and (max-width: 600px){
    nav .brand-logo {
     left: 2.5em;
     -webkit-transform: translateX(-0%);
     transform: translateX(-0%);
   }
   .calendar-modal {
     width: 90%;
   }
   .calendar-modal.modal-in {
     transform: translate3d(-50%,-55%,0);
   }
   .calendar-modal.modal-out {
     transform: translate3d(-50%,50vh,0);
   }
 }
 /*med*/
 @media only screen and (min-width: 600px) and (max-width: 992px){
  nav .brand-logo {
   left: 2.5em;
   -webkit-transform: translateX(-0%);
   transform: translateX(-0%);
 }
 .calendar-modal {
   width: 80%;
 }
 .small {
   width: 50% !important;
 }
}
/*large*/
@media only screen and (min-width: 993px){
  nav .brand-logo {
   left: .5em;
   -webkit-transform: translateX(-0%);
   transform: translateX(-0%);
 }
 .calendar-modal {
   width: 70%;
 }
 .small {
   width: 30% !important;
 }
 .nav-wrapper{
   margin-right: 250px;
 }
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,.2); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.6); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.6); 
}
