

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #4c4c6a;
  border-radius: 2px;
}
.chatbox {
    width: 100%;
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-window {
    flex: auto;
    max-height: calc(100% - 60px);
    background: white;
    overflow: auto;
}
.chat-input {
    flex: 0 0 auto;
    height: 60px;
    background: #40434e;
    border-top: 1px solid #2671ff;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: white;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #40434e;
}
.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgba(255,255,255,.25);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
    transition: all 0.15s ease-in-out;
}
.chat-input input[good] + button {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background:darksalmon;
}
.chat-input input[good] + button:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.chat-input input[good] + button path {
    fill: white;
}
.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
.msg-box {
    display: flex;
    background: #5b5e6c;
    padding: 10px 10px 0 10px;
    border-radius: 0 6px 6px 0;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: white;
    margin: 0 10px 10px 0;
}
.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.messages {
    flex: 1 0 auto;
}
.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
}
.msg:first-of-type {
    margin-top: 8px;
}
.timestamp {
    color: rgba(0,0,0,.38);
    font-size: 8pt;
    margin-bottom: 10px;
}
.username {
    margin-right: 3px;
}
.posttime {
    margin-left: 3px;
}
.msg-self .msg-box {
    border-radius: 6px 0 0 6px;
    background: brown;
    float: right;
}
.msg-self .user-img {
    margin: 0 0 10px 10px;
}
.msg-self .msg {
    text-align: right;
}
.msg-self .timestamp {
    text-align: right;
}


.boton_iniciar_f{
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 9px;
    color: white;
    background-color: green;
  }
  .boton_iniciar_f:hover{
    color: #3C9B0E;
    background-color: #86D874;
    text-decoration: none;
  }







  .modal {
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
  visibility: hidden;
  width: 100%;
}

.modal.visible {
  opacity: 1;
  visibility: visible;
}

.modal.visible .modal-content {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}

.modal-content {
  background-color: #fff;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 600px;
  opacity: 0;
  transform: translateY(-25px);
  transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
  visibility: hidden;
}

.modal-content .modal-header {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 0 12px;
  position: relative;
}

.modal-content .modal-header h4 {
  color: #555;
  font-family: 'Open Sans';
}

.modal-content .modal-header .modal-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-content .modal-body {
  padding: 0px 20px;
}

.modal-content .modal-footer {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  padding: 0 20px;
}


/* Estilos otros */
.datp11_atras{
								  margin: auto;
								font-size: 15px;
								font-family: sans-serif;
								color:white;
								}

								.datp1_atras{
								  margin: auto;
								font-size: 16px;
								font-family: sans-serif;
								color:white;
								}
.button {
  background-color: #2980b9;
  border: 1px solid #2980b9;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Open Sans';
  height: 35px;
  padding: 0 12px;
}

h2 {
  color: #555;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}

p {
  color: #555;
  font-size: 15px;
}


